@model List<ProductModel>
@{
    var username = ViewData["username"];
    ViewData["Title"] = "Dashboard";
}


<link rel="stylesheet" href="~/css/normalize.min.css">
<link rel="stylesheet" href="~/css/home.css">


<!-- partial:index.partial.html -->
<div id="root">
    <div class="hidden lg:flex h-screen flex-col justify-between w-48 fixed left-0 top-0 bottom-0 pt-24">
        <ul class="space-y-8">
            <li class="relative">
                <a href="#" class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
                        </svg>
                    </span>market
                </a>
            </li>
            <li class="relative">
                <a asp-action="Index" asp-controller="Home"  class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-fuchsia-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                    </span>dashboard
                </a>
            </li>
            <li class="relative">
                <a asp-action="Wishlist" asp-controller="Home" class="pl-4 flex items-center capitalize   text-white">
                    <div class="absolute -left-1 top-0 bg-fuchsia-600 w-2 h-8 rounded-full"></div>

                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
                        </svg>
                    </span>wishlist
                </a>
            </li>
            <li class="relative">
                <a href="#" class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd"></path>
                        </svg>
                    </span>trending
                </a>
            </li>
            <li class="relative">
                <a href="#" class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
                        </svg>
                    </span>collection
                </a>
            </li>
            <li class="relative">
                <a href="#" class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
                            <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd"></path>
                        </svg>
                    </span>wallet
                </a>
            </li>
            <li class="relative">
                <a asp-action="Setting" asp-controller="Home" class="pl-4 flex items-center capitalize   text-zinc-500">
                    <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md bg-black">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                        </svg>
                    </span>setting
                </a>
            </li>
        </ul>
        <div class="pb-5  px-4">
            <hr class="mb-5 text-zinc-700">
            <a asp-action="Logout" asp-controller="Home" class="py-2 flex items-center  text-zinc-500">
                <span class="bg-black w-8 h-8 grid place-items-center mr-2 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path>
                    </svg>
                </span>Logout
            </a>
        </div>
    </div>

    <div class="flex flex-wrap p-3 items-center sticky top-0 h-fit  md:h-16 z-30">
        <div class="flex items-center grow md:grow-0 w-fit md:w-48">
            <div class="ml-2 font-bold text-xl text-white">Nexus Void</div>
        </div>

        <div class="flex  mt-4 md:mt-0 order-3 md:order-2 w-full grow md:w-fit ">
            <button class="w-10 h-10 rounded-md bg-zinc-700 grid place-items-center mr-2 block md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>

        </div>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="w-48 hidden lg:block shrink-0"></div>
        <div class=" grow ">

            <div class="">

                <div id="aler" style="display: none;">
                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                        <span class="font-medium text-white" id="mes"></span>
                    </div>
                </div>


                @if ( Model == null || Model.Count == 0)
                {
                    <div class="headingmid">
                        <h1 class="text-white" style="font-size: 40px;">Wishlist is empty</h1>
                    </div>
                } else {

            <ul class="p-1.5 flex flex-wrap">

                    
                    @foreach (var product in Model)
                {


                    <li class="w-full lg:w-1/2 xl:w-1/3  p-1.5">
                        <a style="background-color: #1b1b1b !important;" class="block bg-black rounded-md w-full overflow-hidden pb-4 shadow-lg" href="#items">
                            <div class="w-full h-72 bg-center bg-cover relative" style="background-image: url('@product.backdropImage');">
                                <div class="nft__img">
                                    <img class="img" src="@product.image" />
                                </div><div class="absolute left-1/2 -translate-x-1/2 bottom-2  w-5/6 !bg-white rounded-md flex items-center !bg-opacity-30 backdrop-blur-md">
                                    <div class="w-1/2 p-3">
                                        <h3 class="font-semibold text-white">Current Bid</h3>
                                        <div class="text-white">@product.currentBid</div>
                                    </div>
                                    <div class="w-1/2 p-3">
                                        <h3 class="font-semibold text-white">Ending in</h3>
                                        <div class="text-white">@product.endingIn</div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="font-semibold text-lg px-3 mt-2 text-white">@product.name</h3>
                            <div class="flex items-center px-3 mt-2">
                                <span class=" ml-2 text-zinc-400">@product.sellerName</span>
                            </div>
                            <div class="flex mt-2">
                                <div class="p-3 w-1/2">
                                    <button class="bg-gradient-to-tr text-white from-fuchsia-600 to-violet-600  w-full h-12 rounded-md font-semibold">Place a bid</button>
                                </div>

                                <div class="p-3 w-1/2">
                                    <button onclick="removeFromFavourite('@product.name', '@product.sellerName')" class="bg-gradient-to-tr text-white from-fuchsia-600 to-violet-600  w-full rounded-md font-semibold h-12 p-px" type="submit">
                                        <div class="bg-black w-full h-full rounded-md grid place-items-center">Remove</div>
                                    </button>
                                </div>

                            </div>
                        </a>
                    </li>

                        }

                    </ul>
                }
                    </div>
                        

            

    </div>
</div>
</div>
<script src="~/js/tailwind.js"></script>
<!-- partial -->